@color_1: #777;

.footer .scale-line {
    float: right;
}

.ol-viewport > .scale-line {
    position: absolute;
    padding: 4px 8px;
}


.scale-line {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    border-radius: 5px 5px 0 0;
    bottom: 0;
    color: @color_1;
    text-align: center;
    font-size: 10px;
    right: 35px;
    float:right;
}
.scale {
    &:first-child {
        border-bottom: 1px solid;
        border-left: 1px solid;
        border-right: 1px solid;
        padding: 0 20px;
        display: inline-block;
        width: 2cm;
    }
    &:last-child {
        padding: 0 16px;
    }
}
@media (max-width: 767px) {
    .scale-line {
        display: none;
    }
}
@media (min-width: 768px) {
    .scale-line {
        display: block;
    }
}
